@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.aboutTitanium {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 80px;
    color: black;
    padding: 60px;
}

.paraAboutTitanium {
    font-family: 'Roboto',sans-serif;
    font-size: 34px;
    margin-left: 60px;
    color: black;
}